/* Document */

body {
  background: #F5F5F5;
}

/* End of Document */

/* Navigation */
.navbar-brand img {
    width:30%;
    height:100%;
}

.navbar-default {
    padding-top:10px;
    padding-bottom:10px;
}

.navbar {
  background: #23272D !important;
}

#logo {
  width: 83.33px;
  height: 27.68px;
}

#login_button {
  position: relative !important;
  top: 7px !important;
  outline: none;
}

/* End of Navigation */

/* Books */

#books_div {
  position: absolute;
    left: 50%;
    top: 25%;
    transform: translatex(-50%);
}

#books_text {
  position: absolute;
    left: 48%;
    top: 15%;
    transform: translatex(-50%);
    min-width: 200px;
}

.description_one, .description_two, .description_three , .description_four {
  max-width: 100%;
  text-align: center;
  font-weight: bold;
  border: 1px solid #B00103;
  border-top: none;
  color: #B00103;
}

.description_one a {
  text-decoration: none !important;
}

#book_column a {
  text-decoration: none !important;
}

#book_cover_one, #book_cover_two, #book_cover_three, #book_cover_four {
min-height: 300px;
}

@media(max-width:767px){
  #book_cover_one {
  margin-top: 50px !important;
  }
}

.description_one, .description_two, .description_three, .description_four {
  margin-bottom: 20px !important;
}
/* End of Books */

/* Login Form */

#login_form {
  position: absolute;
  top: 15%;
  transform: translatex(-50%);
}

#login_failed {
  color: #A94442 !important;
  font-weight: bold !important;
}

/* End of Login Form */

/* New NAV */

#avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#avatar_div {
  padding: 5px;
}

#avatar_caret, #real_name {
  color: white;
  position: relative;
  left: 5px;
  font-size: 16px;
}

#real_name {
  font-weight: bold;
}

#avatar_caret, #real_name {
  position: relative;
  top: 5px;
}

#avatar_caret {
  top: 7px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none !important;
    display: block;
}

.dropdown-content a:hover {
  color: black;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#log_out {
  color: #B00103;
}

/* End of New NAV */

/* books.php */

#title, #description {
  position: relative;
  top: 120px;
  left: 50px;
}

#title_text {
  font-size: 30px;
  font-weight: bold;
}

@media only screen and (max-width : 767px) {
 #title_text {
   margin-top: 20px !important;
 }
}

#signup_container {
  color: white;
}

#author_text, #books_description {
  position: relative;
  left: 5px;
}

#books_description {
  font-size: 16px;
}

/* Read More */

.morecontent span {
    display: none;
}
.morelink {
    display: block;
    text-decoration: none !important;
}

.morelink:hover {
  text-decoration: underline !important;
}

#author_text a {
  text-decoration: none !important;
}

#author_link {
  text-decoration: none !important;
}

#author_link:hover {
  text-decoration: underline !important;
}

/* End of Read More /*

/* Ways to Win */

#win_text {
  font-size: 20px;
  position: relative;
  font-weight: bold;
  position: relative;
  min-width: 150px;
}

.win_box {
  position: relative;
  top: 0px;
  height: 110px;
  width: 196px;
  border: 1px solid #C0C0C0;
  border-bottom: none !important;
  display: inline-block;
  margin-bottom: 50px !important;
}

#video {
    font-size: 45px;
    color: white;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 28px;
    left: 80px;
    text-shadow: 0px 0px 3px #353535;
}

.win_box:hover .description {
  border: 1px solid #2A6496;
}

.win_box:hover  {
  border: 1px solid #2A6496;
}

.description {
  position: relative;
  top: 63px;
  left: -1px;
  padding: 5px;
  border-top: none !important;
  border: 1px solid #C0C0C0;
  width: 196px !important;
}

.win_link {
  text-decoration: nonew !important;
  font-weight: bold !important;
  text-decoration: none !important;
}

#win_row {
  max-width: 1550px;
}

/* End of Ways to Win */

/* Video on Ways to Win */

.container-inner {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

.video-player-container{
	width: 648px;
	height: 350px;
	z-index: 2;
}

.video-container {
	height: 310px;
	background-color: black;
}

#media-video {
	width: 100%;
	height: 100%;
	cursor: pointer;
}



.player-container {
	height: 40px;
	background-color: #f6f6f6;
}

.play-control, .volume-control {
	width: 40px;
	height: 40px;
	display: table;
	border-right: 1px solid #dddddd;
	cursor: pointer;
	float: left;
}

.play-button, .volume-button-mute {
	vertical-align: middle;
	text-align: center;
	display: none;
}

.pause-button, .volume-button {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.play-control .fa {
	font-size: 15px;
}

.volume-control .fa {
	font-size: 15px;
}

.indicator {
	width: 100px;
	height: 40px;
	border-right: 1px solid #dddddd;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 13px;
    text-align: center;
    float: left;
    line-height: 40px;
}

.progress {
	width: 425px;
	height: 40px;
	float: left;
}

.progress-background {
	position: absolute;
    width: 385px;
    height: 1px;
    background-color: black;
    margin-left: 20px;
    margin-top: 20px;
}

.progress-over {
	position: absolute;
    width: 160px;
    height: 1px;
    background-color: #5e9f62;
    margin-left: 20px;
    margin-top: 20px;
}

.progress-hidden {
	position: absolute;
    width: 385px;
    height: 40px;
    margin-left: 20px;
    cursor: pointer;
}

.fullscreen-button {
	width: 40px;
	height: 40px;
	float: right;
	display: table;
	cursor: pointer;
}

.fullscreen-button i {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border-left: 1px solid #dddddd;
}

/* End of Ways to Win */

/* ends of books.php */